openapi: 3.0.2
info:
  title: Sahamati Centray Registry - OpenAPI 3.0
  description: "The OpenAPI documentation for Sahamati's Central registry"
  contact:
    email: services@sahamati.org.in
  version: 1.2.0
tags:
  - name: entities
    description: Get data about AA, FIP or FIU entities
servers:
  - url: https://cr.sahamati.org.in
    description: Production
  - url: https://uatcr.sahamati.org.in
    description: UAT
paths:
  /entityInfo/{entityType}:
    get:
      summary: "Get all entities of a certain type"
      tags:
        - "entities"
      operationId: "getEntities"
      parameters:
      - name: "entityType"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        schema:
          type: "string"
          example: "Bearer eyj9iu8324y8732r8h28hf98h3rf7"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityInfo'
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                type: string
                example: "Something went wrong"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                type: string
                example: "Access not allowed"
        "404":
          description: "Resource not found"
          content:
            application/json:
              schema:
                type: string
                example: "Entity not found"
  /entityInfo/{entityType}/{entityId}:
    get:
      summary: "Get information about an entity from it's id and type"
      tags:
        - "entities"
      operationId: "getEntity"
      parameters:
      - name: "entityType"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "entityId"
        in: "path"
        required: true
        schema:
          type: "string"
          example: "856ag14fip"
      - name: "Authorization"
        in: "header"
        required: true
        schema:
          type: "string"
          example: "Bearer eyj9iu8324y8732r8h28hf98h3rf7"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInfo'
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                type: string
                example: "Something went wrong"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                type: string
                example: "Access not allowed"
        "404":
          description: "Resource not found"
          content:
            application/json:
              schema:
                type: string
                example: "Entity not found"
components:
  schemas:
    EntityInfo:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        code:
          type: string
        entityHandle:
          type: string
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
        baseUrl:
          type: string
        webViewUrl:
          type: string
        fitypes:
          type: array
          items:
            type: string
        inboundports:
          type: array
          items:
            type: string
        outboundports:
          type: array
          items:
            type: string
        ips:
          type: array
          items:
            type: string
        certificate:
          $ref: '#/components/schemas/Certificate'
        credentialsPk:
          $ref: '#/components/schemas/Certificate'
        tokeninfo: 
          $ref: '#/components/schemas/TokenInfo'
        gsp: 
          type: array
          items:
            $ref: '#/components/schemas/GspInfo'
        signature: 
          $ref: '#/components/schemas/Signature'
    TokenInfo:
      type: object
      properties:
        url:
          type: string
        maxcalls:
          type: integer
        desc:
          type: string
    GspInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        ip:
          type: string
        url:
          type: string
    Signature:
      type: object
      properties:
        signValue:
          type: string
    Requestor:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
    Certificate:
      type: object
      properties:
        alg:
          type: string
        e:
          type: string
        kid:
          type: string
        kty:
          type: string
        n:
          type: string
        use:
          type: string
    Identifier:
      type: object
      properties:
        category:
          type: string
        type: 
          type: string
  securitySchemes:
    sahamati_auth:
      type: oauth2
      description: "JWT token in the header to authenticate"
      flows:
        clientCredentials:
          tokenUrl: https://www.abc.com
          scopes:
            openid: Only type of scope allowed allowed in this field

security:
  - sahamati_auth: []